body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    background-color: var(--clr-neutral-cream);
    color: var(--clr-neutral-white);
    font-family: var(--font-family-body);

    padding: var(--spacing-lg);
    margin: 0;
}



.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;


    width: 100%;
    max-width: 1000px;
    min-width: 375px;
    min-height: calc(var(--space-unit)*32);

    border-radius: var(--spacing-sm);

    overflow: hidden;

    /* box-shadow: -2px 3px 5px 2px rgba(14, 13, 13, 0.141); */
    text-align: start;

    padding: var(--spacing-xlg);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    flex: 1 1 250px;

    height: calc(var(--space-unit)*32);
    max-width: 350px;

    padding: var(--spacing-2xlg);

    img {
        width: 4rem;
    }

    p {
        margin-block-end: var(--spacing-2xlg);
    }

    a {
        background-color: var(--clr-neutral-grey);
        width: 75%;
        padding: var(--spacing-md);
        text-align: center;
        border-radius: var(--spacing-xlg);

        border: 2px solid var(--clr-neutral-grey);

        white-space: nowrap;

        transition: background-color 0.2s ease-in-out;

        @media (prefers-reduced-motion: reduce) {
            transition: background-color 0.01s ease-in-out;
        }

        &:hover,
        &:focus-visible {
            background-color: transparent;
            color: var(--clr-neutral-grey);
            border: 2px solid var(--clr-neutral-grey);
            outline: 0;
        }

    }

}


.sedan {
    background-color: var(--clr-primary-Gold-500);

    a {
        color: var(--clr-primary-Gold-500);

    }

}

.suv {
    background-color: var(--clr-primary-Cyan-800);

    a {
        color: var(--clr-primary-Cyan-800);
    }
}

.luxury {
    background-color: var(--clr-primary-Green-950);

    a {
        color: var(--clr-primary-Green-950);

    }
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: var(--spacing-sm);
    background-color: var(--clr-primary-green-500);
    border-radius: var(--spacing-xs);

    width: 100%;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--clr-hover-green);
    color: var(--clr-body-BG-Grey-900);
}

.btn:active {
    background-color: var(--clr-active-green);
}

.btn:focus-visible {
    border: 2px solid var(--clr-active-green);
    outline: none;
    border-radius: 12px;

}

.btn img {
    width: 18px;
}

.attribution {
    display: inline-block;
    padding: var(--spacing-md);
    opacity: 0.851;
    text-align: center;

    p {
        color: var(--clr-neutral-grey-darker);
    }

    a {
        display: inline;
        padding: 0;
        color: inherit;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
            outline: 0;
        }
    }



}


